* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.top-navigation {
    background-color: #1b1b1b;
    border-bottom: 1px solid #858585;
    position: relative;
    width: 100%;
}